{% extends "base.html.twig" %}

{% block title %}
    Reinitialisation du mot de passe
{% endblock title %}

{% block body %}
    <div class="block">
        {{form_start(form)}}
            {{form_rest(form)}}
            <button class="btn btn-primary">Reintialiser mon mot de passe</button>
        {{form_end(form)}}
    </div>
{% endblock body %}