<footer class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="flex-fill content d-flex flex-row-nowrap justify-content-end align-items-end p-20">
        <p>Quora by rachidj @2022/2023</p>
    </div>
</footer>