<header class="d-flex flex-row-nowrap justify-content-center p20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <a class="header-logo" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" >
        </a>
        <div class="header-search p-10 flex-fill">
            <i class="fas fa-search"></i>
            <input type="text" name="" id="">
        </div>
        <div>
            <a href="{{ path('signup') }}" class="btn btn-primary mr-5">Inscription</a>
            <a href="{{ path('login') }}" class="btn btn-primary-connexion">Connexion</a>
        </div>
    </div>
</header>