.question-tag {
    background-color: var(--primary);
    color: var(--color-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

.question-text {
    line-height: 30px;
    white-space: pre-wrap;
}