.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    box-shadow: var(--box-shadow);
    transition: opacity .4s;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn:hover {
    opacity: .8;
}

.btn-primary-connexion {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--color-primary);
}