@use '../mixins';
@use '../variables';

header {
    box-shadow: var(--box-shadow);
}

.header-logo {
    max-width: 150px;
    margin-left: 15px;
}

.header-logo img {
    width: 120px;
}

.header-search {
    margin: 0 15px;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
    @include mixins.xs {
        display: none;
    }
    &-loading {
        height: 30px;
    }
}

.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
    font-size: 16px;
    height: 30px;
}

.burger {
    font-size: 24px;
    margin-right: 10px;
}

.menu-xs {
    a {
        margin: 10px 25px;
    }
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}