@use 'mixins';

.content {
    max-width: var(--max-width);
    &-main {
        padding: 50px 0;
        @include mixins.xs {
            padding: 0 0 50px 0;
        }
    }
}

.app-content {
    background-color: var(--gray-light);
    padding: 30px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include mixins.xs {
        padding: 10px;
    }
}

.block {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.block-shadow:hover {
    cursor: pointer;
    box-shadow: none;
    transition: all .4s;
    transform: scale(1.02);
}

.avatar {
    width: 45px;
    border-radius: 50%;
}

.avatar-lg {
    width: 60px;
}

.clickable {
    color: var(--primary);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}

.text-small {
    font-size: var(--font-size-small);
}

.profile-picture {
    width: 150px;
    border-radius: var(--border-radius);
}