:root {
    --primary: #cc8e35;
    --primary-light: #e9b976 ;
    --accent: #0652dd;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --font-size-small: 15px;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --border: 1px solid #ddd;
    --color: #636466;
    --color-primary: white;
    --color-dark: #444;
    --gray: #636466;
    --gray-light: #ddd;
    --gray-dark: #444;
    --max-width: 1200px;
    --footer-bg: #2c3e50;
}